{% extends "base.html.twig" %}
 {% block title %}
     <title> Nos articles</title>
 {% endblock %}
{% block main %}
<h1>Nos articles</h1>
<div class="container">

   {%for article in articles %}
        {% if article.isPublished %}
            <article class="articles_total">
                <h2> {{ article.tilte }}</h2>
                <p>{{ article.content }}</p>
                <img src="{{ article.image }}" alt="image article" >

                <a href="{{ path('admin_article', {'id': article.id}) }}"> en savoir plus</a>
                <a href="{{ path('admin_delete_article',{'id': article.id}) }}">Supprimer l'article</a>
            </article>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
    <h2> Nos articles</h2>
{% endblock %}


