{% extends "base.html.twig" %}
{% block title %}
<title> {{ article.tilte }}</title>
{% endblock %}
    {% block main %}
      {% if article.isPublished %}
          <article class="article_solo">
              <h2> {{ article.tilte }}</h2>
              <p>{{ article.content }}</p>
              <img src="{{ article.image }}" alt="image article" >

          </article>
      {% endif %}
    {% endblock %}

 {% block footer %}
    <h2> {{ article.tilte }}</h2>
 {% endblock %}